* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  border: 0;
  height: 64px;
  font-size: 20px;
  line-height: 28px;
  padding: 18px 36px;
}

.btn-secondary {
  background-color: #ffffff;
  color: #fd6e0a;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  height: 64px;
  font-size: 20px;
  line-height: 28px;
  padding: 18px 36px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mt-30 {
  margin-top: 30px;
}
.text-center {
  text-align: center;
}

.content-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #181818;
}

.content-desc {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #757575;
  margin-bottom: 50px;
}

header {
  background: #fff8f3;
  background-image: url('../images/header_bg.png'),
    url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}

header > nav .logo {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
  color: #181818;
}

header > nav h3 span {
  color: #fd6e0a;
}

header > nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}

header > nav ul {
  display: flex;
  align-items: center;
}

header > nav ul li {
  list-style: none;
  margin-left: 50px;
}

/* banner-styles */
.banner {
  margin: 0px 200px;
  display: flex;
  align-items: center;
}
.banner-welcome {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 5px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
  color: #181818;
  margin-bottom: 20px;
}

.banner-message {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about style */
.about {
  margin-top: 130px;
  padding: 155px 130px;
  background-color: #fff8f3;
}
.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  color: #181818;
}
.section-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

.personal-desc {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.info-title {
  color: #757575;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.info-desc {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}

/* work-section */
.work {
  margin-top: 130px;
  background: #fff;
}

.skills {
  display: flex;
  gap: 24px;
}

.single-skill {
  padding: 30px;
  background: #fff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  color: #181818;
  margin-bottom: 20px;
}
.skill-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

/* resume */
.resume {
  margin-top: 130px;
  background: #fff;
}

.events {
  display: flex;
  gap: 24px;
  margin: 110px 0 50px;
}
/* .education {
} */
.edu-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;

  color: #474747;
}
.pb-30 {
  padding-bottom: 30px;
}
.degree {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  /* identical to box height */

  /* Dark 02 */

  color: #474747;
}
.school {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #757575;
}
.activity {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #757575;
}

.bt-border {
  border-bottom: 1px solid #d1d1d1;
}
